# Python __pycache__ and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Airflow specific folders
airflow/airflow.db
airflow/airflow-webserver.pid
airflow/logs/
airflow/dags/__pycache__/

# Environment and secret files
.env
*.env
*.key

# IDE settings
.vscode/
.idea/

# Mac / Windows system files
.DS_Store
Thumbs.db

# Any temporary files
*.tmp
*.log

